body {
    background-color: #101010 !important;
}

.box {
    background-color: #151515 !important;
    border-color: #202020 !important
}

#brdmenu {
    background-color: #202020 !important;
}
