body {
    background-color: #101010 !important;
}

.box {
    background-color: #151515 !important;
    border-color: #202020 !important
}

.pun .box {
    background-color: #151515 !important;
    border-color: #202020 !important
}

.pun h2 {
    background-color: #151515 !important;
    border-color: #202020 !important;
}

#brdheader .box {
    border-top-width: 1px !important;   
}

#brdmenu {
    background-color: #202020 !important;
}

th.tcl {
    background-color: #202020 !important;
    border-color: #252525 !important;
}

th.tcr {
    background-color: #202020 !important;
    border-color: #252525 !important;
}

td.tcl {
    background-color: #151515 !important;
    border-color: #202020 !important
}

td.tcl:hover {
    background-color: #202020 !important;
}

td.tcl {
    background-color: #151515 !important;
    border-color: #202020 !important
}
